@media screen and (min-width: 0px) {
  .footer {
    text-align: center;
    font-size: 1rem;
    font-family: var(--textoCorpo);
  }

  .footer__link {
    color: white;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    display: flex;

    justify-content: center;

    height: 28vh;

    align-items: flex-end;
  }
}
