@media screen and (min-width: 0px) {
    .header {
      display: flex;
      justify-content: center;
      background-color: var(--azulEscuro);
      padding: 0.5rem;
      color: var(--branco);
    }
  
    .header__link {
  
      text-decoration: none;
      color: var(--branco);
    }
  
    .header__titulo {
      font-family: var(--textoTitulo);
      font-size: 2rem;
      margin-right: 0.5rem;
    }
  
    .header__logo {
  
      width: 1.5rem;
    }
  }