@media screen and (min-width: 375px) {
    .header {
      display: flex;
      justify-content: center;
      background-color: var(--azulEscuro);
      padding: 0.5rem;
      color: var(--branco);
    }
  
    .header__titulo {
      font-family: var(--textoTitulo);
      font-size: 2rem;
      margin-right: 0.5rem;
    }
  
    .header__logo {
  
      width: 1.5rem;
    }
  }


  @media screen and (min-width: 768px) {


    .header {

      width: auto;
      padding: 1rem 0rem 1rem 0rem;
    }
}
  
@media screen and (min-width: 1024px) {


      .header {

        width: auto;
        padding: 1rem 0rem 1rem 0rem;
      }
}

